
$white: #e9fff9;
$black: #474747;
$grey: #c2c2c2;

.bike-route {
    .list {
        overflow-y: hidden;
    
        .item {
            color: $black;
            cursor: pointer;
            margin: 0 auto;
            margin-bottom: -1px;
            padding: 20px;
            width: 100%;

            .title {
                display: flex;
                justify-content: space-between;

                h3 {
                    color: $black;
                }
            }

            h3 {
                color: #467599;
            }
    
        }
    
    
        .item.active {
            background-color: #467599;
            color: $white;

            h3,
            p {
                color: $white;
            }
        }
    
    }
    

}
