
$white: #e9fff9;
$black: #474747;
$grey: #c2c2c2;

.bike-route {
    .list {
        overflow-y: auto;
    
        .item {
            cursor: pointer;
            margin: 5% 10%;
            padding: 20px;

            .tag {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
            }
    
            p {
                color: $black;
            }

            p:first-child {
                background-color: #467599;
                border-radius: 30px;
                color: #fff;
                font-size: 13px;
                padding: 3px 10px;
            }

            p:nth-child(2) {
                color: #d64045;
                font-size: 16px;
                font-weight: 900;
            }

            h3 {
                color: #467599;
            }
    
        }
    
        .item:last-child {
            border-bottom: 0;
        }

        .item.active {
            background-color: #467599;
            color: $white;

            h3,
            p {
                color: $white;
            }
        }
    
    }
    

}
