$main: #635dc0;
$white: #fcf9fc;
$black: #686868;
$red: #cb3737;
$grey: #97949c;

.container {
    display: flex;
    height: 100%;
    width: 100%;

    .map {
        background-color: #ccc;
        flex: 3;
    }

    .tab-container {
        display: flex;
        flex: 2;
        flex-direction: column;
        overflow: hidden;

        .tab {
            margin: 0 auto;
            text-align: center;

            button {
                background-color: transparent;
                border: 0;
                color: rgba($black, 0.5);
                cursor: pointer;
                flex: 1;
                font-size: 16px;
                font-weight: 900;
                margin: 20px 5px 0;
            }
    
            button.active {
                color: rgba($black, 1);
            }

        }


        .tab-content {
            overflow-y: auto;
            padding: 20px;
        }
    }

}


.search {
    margin: 0 auto;
    padding: 15px;

    .search-item {
        margin-bottom: 10px;
    }

    p {
        color: $black;
        font-size: 13px;
        margin-bottom: 3px;
    }

    input,
    select {
        border: 1px $black solid;
        border-radius: 3px;
        color: $black;
        font-size: 14px;
        height: 30px;
        padding: 0 5px;
        width: 100%;
    }

    button {
        background-color: $black;
        border: 0;
        border-radius: 30px;
        color: $white;
        cursor: pointer;
        font-size: 14px;
        margin: 10px 10px 10px 0;
        padding: 8px 30px;
    }

    button:hover,
    button.clear:hover {
        background-color: $main;
    }
    
    button.clear {
        background-color: $red;
    }
}

.list {
    overflow-y: auto;
    padding: 15px;

    .item {
        margin: 20px 40px;
        padding: 20px;

    }

    .item:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .tag {
        margin-top: 10px;

        p {
            color: $grey;
        }
    }

    p {
        color: $black;
    }

    p.level {
        background-color: $red;
        color: $white;
        font-weight: 900;
        padding: 3px;
        width: max-content;
    }

    h3 {
        color: $main;
        margin: 10px 0;
    }


    .img {
        height: 250px;
        overflow: hidden;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.youbike-list {
    overflow-y: auto;
    padding: 15px;

    .item {
        border-bottom: 1px $grey dashed;
        margin: 20px 40px;
        padding: 20px;
        
    }

    .item:last-child {
        border: 0;
    }


    h3.name {
        color: $black;
        display: block;
    }

    .set {
        align-items: center;
        display: inline-block;
        margin-right: -1px;
        margin-top: 5px;
        padding: 5px 10px;
    }

    .set:nth-child(2) {
        padding: 5px 10px 5px 0;
    }

    .set:last-child {
        border: 0;
    }


    p {
        color: $grey;
        margin-right: 5px;
    }

    h3 {
        color: $main;
        font-weight: 900;
    }

}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;

        .map,
        .tab-container { 
            flex: 1;
        }

        .item {
            .img {
                height: 150px;
            }
        }
    
    
    }
}
