body {
    background-color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
  
    * {
        box-sizing: border-box;
        letter-spacing: 1px;
        line-height: 22px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    #app,
    #nav {
        height: 100%;
        width: 100%;
    }

    p {
        font-size: 13px;
    }
}
