body {
    background-color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  
    * {
      list-style: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
  }
  