$white: #fcf9fc;
$black: #616161;
$grey: #c2c2c2;

.container {
    // 父組件設定
    display: flex;
    height: 100%;
    width: 100%;
}

.map {
    flex: 6;

    path {
        cursor: pointer;
        fill: transparent;
        stroke: #9ed8db;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;

        &:hover,
        &.active {
            fill: rgba(#9ed8db, 0.6);
            stroke: rgba(#9ed8db, 0.6);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2px;
        }
        
    }
}

.menu {
    flex: 3;

    .position {
        height: auto;
        padding: 30px;
        position: relative;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
        width: auto;

        p {
            font-size: 16px;
            margin-bottom: 10px;
        }

        h1 {
            color: $black;
            margin-bottom: 20px;
        }

        button {
            background-color: #467599;
            border: 0;
            border-radius: 5px;
            color: $white;
            cursor: pointer;
            font-size: 15px;
            font-weight: 900;
            padding: 10px 80px;
        }

        button:hover {
            background-color: #9ed8db;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        display: block;
        position: relative;
    }

    .map {
        align-items: center;
        display: flex;
        height: 80%;
        justify-content: center;
        width: 100%;
    }

    .menu {
        background-color: transparent;
        height: 20%;
        position: relative;


        .position {
            padding: 0;
            text-align: center;
            width: 100%;
        }
    }
}
