.container {
    // 父組件設定
    display: flex;
    height: 100%;
    width: 100%;
}

.map {
    background-color: #e9b256;
    flex: 6;

    path {
        cursor: pointer;
        fill: transparent;
        stroke: #fff;

        &:hover,
        &.active {
            fill: rgba(#fff, 1);
            stroke: transparent;
        }
        
    }
}

.menu {
    flex: 3;

    .position {
        height: auto;
        padding: 30px;
        position: relative;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
        width: auto;

        p {
            font-size: 16px;
        }

        h1 {
            color: #525252;
            margin-bottom: 10px;
        }

        button {
            background-color: #eab255;
            border: 0;
            border-radius: 99px;
            color: #fff;
            cursor: pointer;
            font-size: 15px;
            font-weight: 900;
            padding: 10px 30px;
        }

        button:hover {
            background-color: #ffc462;
        }
    }
}


// RWD
@media screen and (max-width: 480px) {
    .container {
        display: block;
        position: relative;
    }

    .map {
        align-items: center;
        display: flex;
        height: 80%;
        justify-content: center;
        width: 100%;
    }

    .menu {
        background-color: #fff;
        height: 20%;
        position: relative;


        .position {
            padding: 0;
            text-align: center;
            width: 100%;
        }
    }
}
